{% extends 'base.html' %}

{% block container %}
<form method='POST' action='/user/select_role_permission/'>
    {% csrf_token %}

    {% if error %}
        <div>
            错误：{{ error }}
        </div>
        <hr>
    {% endif %}

    {% if role %}
        <div>
            {{ role.id }} - {{ role.name }}
            <input name='role_id' type='hidden' value={{ role.id }}>
        </div>
        <hr>
    {% endif %}

    {% if perms %}
        <div>
            {% for perm in perms %}
                <div>
                    <input name='perm_id' type='checkbox' value='{{ perm.id }}'
                            {% if perm.id in arr_id_perm %}
                                checked
                            {% endif %}
                            >
                    <label>{{ perm.name }}</label>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endif %}

    <div>
        <button type="submit">提交</button>
    </div>
</form>
{% endblock %}
